body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9; /* Change this HEX value for background */
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333; /* Change this HEX value for navbar */
}

.main-nav ul li {
    display: inline;
    padding: 10px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
}

header, footer {
    background-color: #6E103E; /* Change this HEX value for header/footer */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    min-width: 200px;
    max-width: 500px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }
}
